# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc

# MacOS
.DS_Store

# Visual Studio Code
.vscode/

# Build-kansiot
dist/
build/

# Node.js
node_modules/

# Qt build ja välimuisti
build/
*.qtc_clangd/

# Python
__pycache__/
*.pyc
